.drawer-con {
  $box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 5px 30px;

  .close-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    i {
      font-weight: bold;
      color: var(--art-gray-600);
      cursor: pointer;
    }
  }

  .title {
    position: relative;
    font-size: 14px;
    color: var(--art-text-gray-800);
    text-align: center;

    &:first-of-type {
      margin-top: 20px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 10px;
      border-bottom: 1px solid rgba(var(--art-gray-300-rgb), 0.8);
      width: 50px;
      margin: auto;
      content: '';
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  

  .theme-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

    .item {
      box-sizing: border-box;
      width: 70px;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }

      .box {
        position: relative;
        box-sizing: border-box;
        display: flex;
        height: 50px;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid var(--art-gray-100);
        border-radius: 6px;
        box-shadow: $box-shadow;
        transition: box-shadow 0.1s;

        &.is-active {
          border: 2px solid var(--main-color);
        }

        > div {
          position: relative;
          width: 50%;
          height: 100%;

          &:first-of-type {
            
            > div {
              width: 15px;
              height: 2px;
              margin: 5px 0 0 10px;

              &.line0 {
                margin-top: 13px;
              }

              &.line1 {
                width: 10px;
              }

              &.line2 {
                width: 13px;
              }
            }
          }

          &:last-of-type {
            > div {
              height: 5px;
              margin: 6px 0 0 5px;

              &.line0 {
                width: calc(100% - 15px);
                margin-top: 12px;
              }

              &.line1 {
                width: calc(50% - 5px);
              }

              &.line2 {
                width: calc(52%);
              }
            }
          }
        }
      }

      .name {
        margin-top: 6px;
        font-size: 14px;
        text-align: center;
      }

      .active {
        position: relative;
        right: 0;
        bottom: -5px;
        left: 0;
        width: 6px;
        height: 6px;
        margin: auto;
        background: var(--art-success) !important;
        border-radius: 50%;
      }
    }
  }

  .menu-theme-wrap {
    margin-top: 20px;

    > div {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 15px);

      .item {
        width: 70px;
        margin-right: 15px;
        margin-bottom: 15px;

        &:last-of-type {
          margin-right: 0;
        }

        .box {
          position: relative;
          box-sizing: border-box;
          height: 50px;
          overflow: hidden;
          cursor: pointer;
          background: #f5f7f9 !important;
          border: 2px solid var(--art-gray-100);
          border-radius: 6px;
          box-shadow: $box-shadow;
          transition: box-shadow 0.1s;

          &.is-active {
            border: 2px solid var(--main-color);
          }

          &:nth-child(even) {
            margin-right: 0;
          }

          .top {
            width: 100%;
            height: 8px;
          }

          .left {
            position: absolute;
            top: 0;
            left: 0;
            width: 22px;
            height: 100%;

            > div {
              width: 15px;
              height: 2px;
              margin: 5px 0 0 4px;

              &.line0 {
                margin-top: 15px;
              }

              &.line1 {
                width: 10px;
              }

              &.line2 {
                width: 13px;
              }
            }
          }

          .right {
            position: absolute;
            top: 0;
            right: 0;
            width: 46px;
            height: 100%;

            > div {
              height: 6px;
              margin: 5px 0 0 5px;

              &.line0 {
                width: calc(100% - 15px);
                margin-top: 12px;
              }

              &.line1 {
                width: calc(50% - 5px);
              }

              &.line2 {
                width: calc(52%);
              }
            }
          }
        }

        .active {
          width: 6px;
          height: 6px;
          margin: auto;
          margin-top: 8px;
          background: var(--art-success) !important;
          border-radius: 50%;
        }
      }
    }
  }

  .main-color-wrap {
    padding-top: 20px;

    .offset {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 12.5px);

      $size: 23px;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        margin: 0 13px 10px 0;
        cursor: pointer;
        border-radius: $size;

        &:last-of-type {
          margin-right: 0;
        }

        i {
          font-size: 14px;
          color: #fff !important;
        }
      }
    }
  }

  .box-style {
    padding: 4px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--art-gray-200);

    .button {
      width: calc(50% - 3px);
      height: 34px;
      line-height: 34px;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      transition: all .2s !important;

      &.is-active {
        color: var(--art-gray-800);
        background-color: var(--art-main-bg-color);
      }

      &:hover:not(.is-active) {
        color: var(--art-gray-800);
        background-color: rgba($color: #000000, $alpha: 0.04);
      }
    }
  }

  .basic-box {
    position: relative;
    z-index: 10;
    background: transparent !important;

    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 35px;
      background: transparent !important;

      span {
        font-size: 14px;
        background: transparent !important;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.dark {
  .drawer-con {
    .box-style {
  
      .button {
        &.is-active {
          color: #fff !important;
          background-color: rgba(var(--art-gray-400-rgb), 0.7);
        }
  
        &:hover:not(.is-active) {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
}

@media screen and (max-width: $device-ipad) {
  .mobile-hide {
    display: none !important;
  }
}

