// 重新修改菜单样式

.el-popper.is-pure {
  border: 0.5px solid var(--art-border-dashed-color) !important;
  border-radius: 12px;
}

// 菜单折叠 hover 弹窗样式
.el-menu--vertical,
.el-menu--popup-container {
  border: 1px solid transparent !important;

  .el-menu--popup {
    padding: 8px;

    .el-sub-menu__title:hover,
    .el-menu-item:hover {
      background-color: rgb(0 0 0 / 5%) !important;
      border-radius: 6px;
    }

    .el-menu-item {
      height: 40px;
      margin-bottom: 10px;
      border-radius: 6px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.menu-left {
  // ---------------------- Modify default style ----------------------
  .header {
    .svg-icon {
      margin-left: 18px;
    }
  }

  .iconfont-sys {
    font-size: 20px;
  }

  // 父级菜单
  .el-sub-menu__title {
    // 图标
    .iconfont-sys {
      background-color: transparent !important;
    }

    span {
      margin-left: 10px !important;
      background-color: transparent !important;
    }
  }

  // 子菜单
  .el-menu-item {
    height: 45px;
    line-height: 45px;

    span {
      margin-left: 14px;
      font-size: 13px;
      background-color: transparent !important;
    }
  }

  // 右侧箭头
  .el-sub-menu__icon-arrow {
    right: 20px;
    width: 15px !important;
    font-weight: bold;
  }

  // 鼠标移入背景色过渡时间加快
  .el-sub-menu__title,
  .el-menu-item {
    transition: background-color 0s !important;

    span {
      font-size: 14px !important;
    }
  }

  // ---------------------- Dark theme menu ----------------------
  .el-menu-dark {
    .el-sub-menu__icon-arrow {
      color: var(--art-gray-800);
    }

    .el-sub-menu__title {
      .iconfont-sys {
        margin-left: 3px !important;
      }

      .el-icon {
        color: var(--art-gray-300);
      }
    }

    // 选中颜色
    .el-menu-item.is-active {
      background-color: var(--el-color-primary-light-1);
    }

    // 鼠标移入背景色
    .el-sub-menu__title:hover,
    .el-menu-item:not(.is-active):hover {
      background: #0f1015 !important;
    }
  }

  .el-menu-dark.el-menu--collapse {
    .el-sub-menu.is-active {
      .el-sub-menu__title {
        .iconfont-sys {
          color: var(--main-color) !important;
        }
      }
    }
  }

  // ---------------------- Light theme menu ----------------------
  .el-menu-light {
    .el-sub-menu__title,
    .el-menu-item {
      width: 100%;
      border-radius: 0;
    }

    .el-sub-menu__title {
      .iconfont-sys {
        margin-left: 3px !important;
      }
    }

    .el-sub-menu__icon-arrow {
      color: var(--art-gray-600);
    }

    // 选中颜色
    .el-menu-item.is-active {
      color: var(--main-color) !important;
      background-image: linear-gradient(
        to right,
        var(--el-color-primary-custom-14),
        var(--el-color-primary-custom-14)
      );

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        content: '';
        background: var(--main-color);
      }
    }

    // 鼠标移入背景色
    .el-sub-menu__title:hover,
    .el-menu-item:not(.is-active):hover {
      background: var(--art-gray-100) !important;
    }
  }

  .el-menu-light.el-menu--collapse {
    .el-sub-menu.is-active {
      .el-sub-menu__title {
        .iconfont-sys {
          color: var(--main-color) !important;
        }
      }
    }
  }

  // ---------------------- Design theme menu ----------------------
  .el-menu-design {
    overflow: hidden;
    $menu-spacing: 8px; // 左右间距

    // 右侧箭头
    .el-icon {
      color: var(--art-gray-900) !important;
    }

    > .el-sub-menu {
      margin-left: $menu-spacing;
    }

    .el-sub-menu {
      width: calc(100% - $menu-spacing) !important;
    }

    .el-sub-menu__title {
      width: calc(100% - $menu-spacing) !important;
      height: 52px;
      margin: 10px 0; // 调整每一个菜单项的间距

      &:hover {
        background: var(--art-gray-200) !important;
      }
    }

    [level='0'] {
      > .el-sub-menu__title {
        padding-left: 15px !important;
      }
    }

    [level='0'].is-active {
      > .el-sub-menu__title {
        width: calc(100% - $menu-spacing) !important;

        // 顶级菜单图标选中
        .iconfont-sys {
          position: relative;
          left: -5px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          color: #fff !important;
          text-align: center;
          background: var(--main-color) !important;
          border-radius: 6px;
        }

        span {
          position: relative;
          left: -2px;
        }
      }
    }

    &:not(.el-menu--collapse) {
      .el-sub-menu__title {
        width: calc(100% - $menu-spacing) !important;
      }

      .el-sub-menu__title,
      .el-menu-item {
        width: 100%;
        border-radius: 0;
      }

      > .el-sub-menu.is-active {
        position: relative;

        > .el-sub-menu__title {
          background-color: #fff !important;
          border-radius: 8px;
          box-shadow: 0 0 27px rgb(0 0 0 / 5%);

          span {
            color: var(--main-color) !important;
          }
        }
      }

      .el-menu-item {
        box-sizing: border-box;
        width: calc(100% - 19px);
      }

      .el-sub-menu__icon-arrow {
        right: 15px;
        color: var(--art-gray-600);
      }

      // 小圆点
      .el-menu-item.is-active {
        font-weight: 500;
        color: var(--art-gray-800) !important;
        background: transparent !important;

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 6px;
          height: 6px;
          margin: auto;
          margin-left: -18px;
          content: '';
          background: var(--art-gray-700);
          border-radius: 50%;
          transition: all 0.2s;
        }
      }

      // 鼠标移入背景色
      .el-sub-menu__title:hover,
      .el-menu-item:not(.is-active):hover {
        background: rgba(var(--art-gray-200-rgb), 0.7) !important;
        border-radius: 8px;
      }
    }

    // 菜单折叠样式
    &.el-menu--collapse {
      .el-sub-menu.is-active {
        .el-sub-menu__title {
          .iconfont-sys {
            position: relative;
            left: -5px;
            padding: 0 5px !important;
          }
        }
      }
    }
  }
}

[data-box-mode='shadow-mode'] {
  .el-menu-design .el-sub-menu__title {
    width: 100% !important;
  }
}

.dark {
  .menu-left {
    .el-menu-item.is-active {
      span {
        // 暗黑主题模式，选中菜单文字颜色
        color: var(--main-color) !important;
      }
    }
  }
}

@media only screen and (max-width: $device-phone) {
  .menu-left {
    .el-menu-design {
      > .el-sub-menu {
        margin-left: 0;
      }

      .el-sub-menu {
        width: 100% !important;
      }
    }
  }
}
