.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;

  color: #a6accd;
}

.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: #aed07e !important;
}

.hljs-comment,
.hljs-quote {
  color: #6f747d;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c792ea;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #c86068;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #abb2bf;
}

.hljs-attribute {
  color: #c792ea;
}

.hljs-function {
  color: #c792ea;
}

.hljs-type {
  color: #f07178;
}

.hljs-title {
  color: #82aaff !important;
}

.hljs-built_in,
.hljs-class {
  color: #82aaff;
}

// 括号
.hljs-params {
  color: #a6accd;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #de7e61;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id {
  color: #61aeee;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
