.search-widget {

  :deep(.search-modal) {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  :deep(.el-dialog__header) {
    padding: 5px 0;
  }

  :deep(.el-dialog) {
    padding: 0px 15px 0 15px;
    border-radius: 14px;
  }

  .el-input {
    height: 48px;
    
    :deep(.el-input__wrapper) {
      background-color: #F3F4F5;
      box-shadow: none;
      border: 1px solid #E5E6E7;
      border-radius: 6px !important;
    }

    :deep(.el-input__inner) {
      color: #888 !important;
    }

    .search-keydown {
      color: #A7A7A7;
      height: 20px;
      padding: 0 4px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: var(--art-bg-color);
  
      i {
        font-size: 12px;
      }
  
      span {
        font-size: 12px;
        margin-left: 2px;
      }
    }
  }

  .result {
    width: 100%;
    background: var(--rt-main-bg-color);
    margin-top: 30px;

    .box {
      font-weight: 500;
    }

    .box {
      font-size: 16px;
      line-height: 1;
      cursor: pointer;
      margin-top: 0 !important;

      .menu-icon {
        margin-right: 5px;
        font-size: 18px;
      }

      div {
        padding: 16px;
        color: #343f44;
        font-size: 15px;
        font-weight: 400;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        background: var(--art-selected-color-2);

        &.highlighted {
          color: #fff !important;
          background-color: var(--el-color-primary-light-3) !important;
        }
      }
    }
  }

  .dialog-footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: 1px solid var(--art-border-color);

    > div {
      height: 40px;
      display: flex;
      align-items: center;

      i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px;
        width: 22px;
        height: 20px;
        left: 117px;
        top: 6px;
        background: var(--art-bg-color);
        border: 1px solid var(--art-border-color-2);
        box-sizing: border-box;
        box-shadow: 0 2px 0 var(--art-border-color-2);
        border-radius: 3px;
        font-size: 12px;
        color: #999;
        margin-right: 8px;

        &:last-of-type {
          margin-right: 6px;
        }
      }

      span {
        font-size: 12px;
        margin-right: 15px;
      }
    }
  }
}

.dark {
  .search-widget {
    .el-input {
      :deep(.el-input__wrapper) {
        background-color: #252526;
        border: 1px solid #4C4D50;
      }

      .search-keydown {
        background-color: #252526;
        border: 1px solid #4C4D50;
      }
    }

    :deep(.search-modal) {
      background-color: rgba(23,23,26,0.6);
      backdrop-filter: none;
    }
  
    :deep(.el-dialog) {
      background-color: #252526;
    }

    .result {
      .box {
        div {
          color: rgba($color: #ffffff, $alpha: 0.6) !important;

          &.highlighted {
            color: #fff !important;
          }
        }
      }
    }

    .dialog-footer {
      > div {
        color: #999 !important;

        i {
          border: 1px solid #3A3A3A;
          box-shadow: 0 2px 0 #3A3A3A;
          background-color: #1F1F1F;
        }

        span {
          font-size: 12px;
          margin-right: 15px;
        }
      }
    }
  }
}