@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* 为 html 元素添加默认样式 */
/* @layer base {
   h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
} */

/* @layer base {
  [data-theme='light'] {
  }

  [data-theme='dark'] {
  }
} */

:root {
  /* --g-primary: 93, 135, 255; */
  --a-secondary: oklch(0.72 0.19 231.6);
  --a-error: oklch(0.73 0.15 25.3);
  --a-info: oklch(0.58 0.08 254.1);
  --a-success: oklch(0.78 0.17 166.1);
  --a-warning: oklch(0.78 0.14 75.5);
  --a-danger: oklch(0.68 0.22 25.3);

  --a-gray-50: oklch(0.985 0.002 247.839);
  --a-gray-100: oklch(0.967 0.003 264.542);
  --a-gray-200: oklch(0.928 0.006 264.531);
  --a-gray-300: oklch(0.872 0.01 258.338);
  --a-gray-400: oklch(0.707 0.022 261.325);
  --a-gray-500: oklch(0.551 0.027 264.364);
  --a-gray-600: oklch(0.446 0.03 256.802);
  --a-gray-700: oklch(0.373 0.034 259.733);
  --a-gray-800: oklch(0.278 0.033 256.848);
  --a-gray-900: oklch(0.21 0.034 264.665);
  --a-gray-950: oklch(0.13 0.028 261.692);

  --b-gray-100: #f9fafb;
  --b-gray-200: #f2f4f5;
  --b-gray-300: #e6eaeb;
  --b-gray-400: #dbdfe1;
  --b-gray-500: #949eb7;
  --b-gray-600: #7987a1;
  --b-gray-700: #4d5875;
  --b-gray-800: #383853;
  --b-gray-900: #323251;

  /* 边框颜色 */
  --default-border: #e2e8ee;
}

.dark {
  --a-gray-50: oklch(0.13 0.028 261.692);
  --a-gray-100: oklch(0.21 0.034 264.665);
  --a-gray-200: oklch(0.278 0.033 256.848);
  --a-gray-300: oklch(0.373 0.034 259.733);
  --a-gray-400: oklch(0.446 0.03 256.802);
  --a-gray-500: oklch(0.551 0.027 264.364);
  --a-gray-600: oklch(0.707 0.022 261.325);
  --a-gray-700: oklch(0.872 0.01 258.338);
  --a-gray-800: oklch(0.928 0.006 264.531);
  --a-gray-900: oklch(0.967 0.003 264.542);
  --a-gray-950: oklch(0.985 0.002 247.839);

  --b-gray-100: #110f0f;
  --b-gray-200: #17171c;
  --b-gray-300: #393946;
  --b-gray-400: #505062;
  --b-gray-500: #73738c;
  --b-gray-600: #8f8fa3;
  --b-gray-700: #ababba;
  --b-gray-800: #c7c7d1;
  --b-gray-900: #e3e3e8;

  --default-border: rgba(255, 255, 255, 0.1);
}

/* 主题类 */
@theme {
  /* 系统主题色 */
  --color-primary: var(--main-color);

  /* ElementPlus 主题色 - 使用 oklch 色值 */
  --color-secondary: var(--a-secondary);
  --color-error: var(--a-error);
  --color-info: var(--a-info);
  --color-success: var(--a-success);
  --color-warning: var(--a-warning);
  --color-danger: var(--a-danger);

  /* 灰度颜色，自动适配暗黑模式 */
  /* --color-g-50: var(--a-gray-50); */
  --color-g-100: var(--b-gray-100);
  --color-g-200: var(--b-gray-200);
  --color-g-300: var(--b-gray-300);
  --color-g-400: var(--b-gray-400);
  --color-g-500: var(--b-gray-500);
  --color-g-600: var(--b-gray-600);
  --color-g-700: var(--b-gray-700);
  --color-g-800: var(--b-gray-800);
  --color-g-900: var(--b-gray-900);
  /* --color-g-950: var(--a-gray-950); */
}

/* 添加组件类 */
@layer components {
  .art-card {
    /* border: 1px solid var(--art-card-border) !important;
    background: var(--art-main-bg-color);
    border-radius: calc(var(--custom-radius) + 4px) !important; */
    /* border-radius: calc(var(--custom-radius) / 2 + 2px) !important; */
    /* @apply rounded-[calc(var(--custom-radius) + 4px)] */
    /* @apply bg-gray-200 p-5 rounded-2xl */
  }

  /* art-card header style */
  .art-card-header {
    @apply flex justify-between pr-[25px] pb-1;

    .title {
      h4 {
        @apply text-lg font-medium text-g-900;
      }

      p {
        @apply mt-[3px] text-xs text-g-600;

        span {
          @apply ml-2 font-medium;
        }
      }
    }
  }
}

/* 添加自定义工具类 */

/* 自定义圆角 */
@utility rounded-custom-sm {
  border-radius: calc(var(--custom-radius) / 2 + 2px);
}

/* 在 Tailwind 的 utilities layer 明确定义 text-g-200 / text-g-500 */

@layer utilities {
  /* 边框颜色 */
  .border-full-d {
    @apply border border-[var(--default-border)];
  }

  .border-b-d {
    @apply border-b border-[var(--default-border)];
  }

  .border-t-d {
    @apply border-t border-[var(--default-border)];
  }

  .art-card-bg {
    background-color: var(--art-main-bg-color);
  }

  /* 通用：flex + 居中对齐 */
  .flex-c {
    @apply flex items-center;
  }

  .flex-cc {
    @apply flex items-center justify-center;
  }

  /* Todo：这个需要替换后删除 */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* 通用：flex + 居中对齐 + 两端对齐 */
  .flex-cb {
    @apply flex items-center justify-between;
  }

  /* Todo：这个需要替换后删除 */
  .flex-between {
    @apply flex items-center justify-between;
  }

  .tad-200 {
    @apply transition-all duration-200;
  }

  .tad-300 {
    @apply transition-all duration-300;
  }

  /* .border-a {
    @apply border border-[var(--art-border-color)];
  } */

  /* .border-xx {
    @apply border border-[var(--art-border-dashed-color)];
  } */

  .c-p {
    @apply cursor-pointer;
  }
}
