@charset "UTF-8";

/*滚动条*/
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
  width: 8px !important;
  height: 0 !important;
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: var(--art-gray-200);
}

/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cccccc !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0abab !important;
}

/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button {
  height: 0px;
  width: 0;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: var(--default-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--art-gray-300) !important;
  }
}
